<div class="movie-item" ng-click="onMovieClicked()">
  <div class="movie-image-container">
    <img class="movie-image" ng-src="{{movie.posterImage}}" alt="film image" ng-click="delete()"/>
    <div ng-show="isDeleting" class="movie-delete-icon glyphicon glyphicon-minus-sign delete-icon"/>
  </div>
  <div class="movie-name">{{movie.name | uppercase}}</div>
  <div class="movie-sub-info">
    <div class="movie-year">{{movie.year}}</div>
    <div class="movie-resolutions">
      <span ng-repeat="res in movie.supportedResolution track by $index">
        {{res}}p
      </span>
    </div>
  </div>
</div>